body {
  font-family: Arial;
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
  text-align: center;
  margin-top: 80px;
}

.container {
  background: rgba(255,255,255,0.1);
  padding: 30px;
  border-radius: 12px;
  display: inline-block;
}

.input-box {
  margin-bottom: 15px;
}

input {
  padding: 10px;
  width: 220px;
  border-radius: 8px;
  border: none;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px #00ffcc;
}

button {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

#strength-bar {
  width: 250px;
  height: 10px;
  background: #ddd;
  margin: 15px auto;
  border-radius: 5px;
}

#strength-fill {
  height: 100%;
  width: 0%;
  border-radius: 5px;
  transition: 0.3s;
}

#result {
  font-weight: bold;
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px;
}